body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header{
    background: #1F2937;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.header *{
    flex: 1;
    text-align: center;
}

.header .text{
    font-size: 24px;
    color: #F9FAF8;
    width: 50%;
}

.header .links{
    font-size: 18px;
    color: #e5e7eb;
    width: 50%;
    margin: 10px;
}

.top{
    background: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.top *{
    text-align: left;
}

.top .left{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: left;
    width: 50%;
    margin-left: 12.5%;
}

.top .left span strong{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.top .left span{
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    margin: 10px;
    margin-left: 0;
    margin-top: 0px;
    padding-top: 0px;
}

.top .left button{
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border-color: #3882f6;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882f6;
    text-align: center;
    width: 120px;
    height: 40px;
    font-weight: 500;
    border: none;
}

.top .right{
    width: 50%;
    display: flex;
    background: darkgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 12.5%;
    height: 200px;
}

.top .right div{
    text-align: center;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .rand-info{
    margin: 50px;
    margin-bottom: 0px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.middle .boxes{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    
}

.middle .boxes *{
    flex: 1;
    margin: 50px;
    height: 150px;
    margin-bottom: 0px;
    width: 150px;
    border-radius: 10px;
    outline: solid #3882f6 3px;
}

.middle .box-text{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

.middle .box-text *{
    margin: 55px;
    margin-top: 20px;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.quote .quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote .author{
    font-size: 20px;
    margin-left: 400px;
    color: #1f2937;
    font-weight: 900;
}

.call-to-action{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.call-to-action .banner{
    display: flex;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 50px;
    width: 75%
}

.call-to-action .banner .left{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 50px;
}

.call-to-action .banner .left #one{
    font-size: 20px;
    font-weight: 500;
}

.call-to-action .banner .left #two{
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}

.call-to-action .banner .right{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.call-to-action .banner .right button{
    font-family: 'Roboto', sans-serif;
    background-color: #3882f6;
    border-radius: 5px;
    font-size: 15px;
    color: #F9FAF8;
    outline: solid 1px #F9FAF8;
    text-align: center;
    width: 100px;
    height: 30px;
    font-weight: 500;
    border: none;
}